<section>
    <div class="error">
        <img src="/images/error.svg" alt="Sem perguntas">
        <p>Sala não encontrada...</p>
        <a href="/" class="button">
            Voltar
        </a>
    </div>
</section>